{
  "extends": "airbnb/base",
  "globals": {
    "it": true,
    "describe": true,
    "expect": true
  },
  "rules": {
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0
  }
}
