{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "plugins": [
    "prettier"
  ],
  "globals": {
    "it": true,
    "describe": true,
    "expect": true,
    "before": true,
    "after": true
  },
  "rules": {
    "prettier/prettier": "error",

    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,

    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "functions": "never"
    }],
    "no-plusplus": 0,
    "no-console": ["error", { allow: ["warn", "error"] }],
    "no-underscore-dangle": [ "error", { allow: ["_id"] } ]
  }
}
