<html>
  <head>
    <title>Babajka API server</title>
  </head>
  <body>
    <p>
      Hello from Babajka API server! Quick links:
    </p>
    <ul>
      <li>
        <a href="/auth/google">Login with Google</a>
      </li>
    </ul>
    <br />
    <p>
      The current backend version is <%= process.env.npm_package_version %>
    </p>
  </body>
</html>
